<div class="right_ctn chat_box" id="chat_don_giao-duc-hoc-duong"  style=" display: none;">
    <div class="chat_head fix1">
        <div class="info_chater fix_head">
            <div class="mes_header_center" style="width:330px;margin-top:-10px;height:40px">
                <div class="info">
                    <div class="user_name fix2" id="box_name_giao-duc-hoc-duong">Trao đổi thông tin học tập</div>
                    <div></div>
                </div>
                <div class="icon_exit"><a  href="javascript:void(0)"><i class="fa fa-times" id ="close_chat_box" name="'+ srt+'" ></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="mes_space2" id="mes_space_giao-duc-hoc-duong">

    </div>
    <div class="chat_input fix5">
        <div class="chat_input_ctn">
            <div class="chat_input_form">
                <textarea  id="input_text_don" style="padding-top:3px" name="giao-duc-hoc-duong" placeholder="Nhập tin nhắn" class="txt_ip">

                </textarea>
            </div>
        </div>
    </div>
    
</div>

