<!DOCTYPE html>
<html lang="en" class="helper-overflow-hidden">
<head>
	<meta charset="UTF-8">
	<title>Trang Chủ</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/css.css" />
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/js.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="main">
		<nav class="left_ctn">
			<div class="main_menu hidden-sm hidden-xs">
				<div class="avt_top">
					<img src="img/user.jpg" alt="avt" class="avt_box">
				</div>
				<div class="menu_center">
					<div class="icon_box" style="background: rgba(0, 0, 0, 0.12);">
						<i class="fa fa-comments icon_mainmenu"></i>
					</div>
					<div class="icon_box">
						<i class="fa fa-address-book icon_mainmenu"></i>
					</div>
					<div class="icon_box">
						<i class="fa fa-users icon_mainmenu"></i>
					</div>
					<div class="icon_box">
						<i class="fa fa-ellipsis-h icon_mainmenu"></i>
					</div>
				</div>
				<div class="menu_bottom">
					<div class="icon_box">
						<i class="fa fa-bell icon_mainmenu"></i>
					</div>
					<div class="icon_box">
						<i class="fa fa-star icon_mainmenu"></i>
					</div>
					<div class="icon_box">
						<i class="fa fa-cog icon_mainmenu"></i>
					</div>
				</div>
			</div>
			<div class="cell_menu">
				<div class="user">
					Trung Quân
				</div>
				<div class="search_cell_menu">
					<form class="form-inline form_search_box">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control form_search" id="exampleInputAmount" placeholder="Tìm kiếm">
								<div class="input-group-addon icon_search"><i class="fa fa-search"></i></div>
							</div>
						</div>
					</form>
					<i class="fa fa-user-plus" style="color:#48c6ef;font-size: 20px;
					padding-left: 15px;line-height: 28px"></i>
				</div>
				<div class="list_ol">
					<div class="title_list_ol">
						Danh sách online (20)
					</div>
					<div class="user_ol">
						<div class="item_user">
							<div>
								<img src="img/user.jpg" style="width:50px;height:50px;border-radius: 50%">
								<div class="mes_num">
								<a href="#"><span class="badge mes_num_style">3</span></a>
							</div>
							</div>
							<div class="info_user">
								Khiêm Nguyễn
							</div>
							
							<div class="time_ol">
								<i class="fa fa-circle" style="line-height:20px;font-size:10px;color:#62CB00; float:right"></i>
							</div>
						</div>
					</div>
					<div class="user_ol">
						<div class="item_user">
							<img src="img/user.jpg" style="width:50px;height:50px;border-radius: 50%">
							<div class="info_user">
								Lộc Sida
							</div>
							<div class="time_ol">
								3 phút
							</div>
						</div>
					</div>
					<div class="user_ol">
						<div class="item_user">
							<img src="img/user.jpg" style="width:50px;height:50px;border-radius: 50%">
							<div class="info_user">
								Hồng Pink
							</div>
							<div class="time_ol">
								<i class="fa fa-circle" style="font-size:10px;color:#62CB00; float:right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="right_ctn">
			<div class="chat_head">
				<div class="info_chater">
					<div class="mes_header_center">
						<div class="avatar" style="float:left">
							<a href="#"><img src="img/user.jpg" class="border_avatar" alt=""></a>
						</div>
						<div class="info">
							<div class="user_name">Hà Dím</div>
							<div class="online">Truy cập 3 phút trước</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mes_space">
				<div class="mes_client_box">
					<div class="name_client">
						<span class="txt_mes_client">Hà</span>
					</div>
					<div class="mes_ctn">
						<div class="avt_client_box">
							<img src="img/user.jpg" class="avt_client">
						</div>
						<div class="mes_ctn_txt">
							<span class="txt_mes_ctn">Hello Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus temporibus ipsum commodi aliquid tempora quaerat placeat facere dicta repudiandae earum illum dolorem, necessitatibus suscipit aperiam error iusto recusandae, nihil dolore.</span>
						</div>
					</div>
				</div>
				<div class="mes_me_box">
					<div class="mes_me_ctn">
						<span class="txt_mes_me">Dạ anh Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit quis, magnam repellat, quos est repellendus omnis veniam m</span>
					</div>
					<div class="seen">
						<span class="txt_seen">
							<i class="fa fa-check"></i>Đã xem 20:52
						</span>
					</div>
				</div>
				<div class="mes_client_box">
					<div class="name_client">
						<span class="txt_mes_client">Hà</span>
					</div>
					<div class="mes_ctn">
						<div class="avt_client_box">
							<img src="img/user.jpg" class="avt_client">
						</div>
						<div class="mes_ctn_txt">
							<span class="txt_mes_ctn">Hello Lorem ipsum dolor sit amet, consectetur adipisicing elit. e.</span>
						</div>
					</div>
				</div>
				<div class="mes_me_box">
					<div class="mes_me_ctn">
						<span class="txt_mes_me">Tin nhắn xa nhau ghê</span>
					</div>
					<div class="seen">
						<span class="txt_seen">
							<i class="fa fa-check"></i>Đã xem 20:52
						</span>
					</div>
				</div>
			</div>
			<div class="chat_input">
				<div class="chat_input_tool">
					<div class="icon_tool">
						<i class="fa fa-picture-o icon_tool_style" aria-hidden="true"></i>
						<i class="fa fa-camera icon_tool_style" aria-hidden="true"></i>
						<i class="fa fa-paperclip icon_tool_style" aria-hidden="true" ></i>
						<i class="fa fa-smile-o icon_tool_style" aria-hidden="true"></i>
						<i class="fa fa-microphone icon_tool_style" style="padding-right:15px" aria-hidden="true"></i>
					</div>
				</div>
				<div class="chat_input_ctn">
					<div class="chat_input_form">
						<textarea name="mes" placeholder="Nhập tin nhắn" class="txt_ip"></textarea>
					</div>
					<div class="btn_send">
						<a href="#" class="btn_link">GỬI</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>